# 媒体文件根目录配置（可选）
MEDIA_ROOT_PATH=public/media
# MEDIA_ROOT_PATH=/home/user/media
# MEDIA_ROOT_PATH="C:\Users\Username\Pictures"

# 登录配置（可选）
LOGIN_REQUIRED=false
LOGIN_USERNAME=admin
LOGIN_PASSWORD=123456

# Session 配置（需要登录时配置）
SESSION_CACHE_PATH=sessionsCache
SESSION_SECRET=NDUyY2E0MTg0NmYyOTViNzM1M2VhMmUwODAyYjcxNjU
SESSION_COOKIE_NAME=rpi_sid
# SESSION_COOKIE_DOMAIN=.example.com


# FFmpeg 路径配置（可选）
# FFMPEG_PATH=/usr/local/bin/ffmpeg
# FFMPEG_PATH="C:\Users\Administrator\AppData\Roaming\bilibili\ffmpeg\ffmpeg.exe"
