MEDIA_ROOT_PATH=public/media

# 是否要求登录
LOGIN_REQUIRED=false
LOGIN_USERNAME=admin
LOGIN_PASSWORD=123456

# 媒体文件根目录配置（可选）
# Custom media directory examples
# MEDIA_ROOT_PATH=/home/user/media
# MEDIA_ROOT_PATH="C:\Users\Username\Pictures"

# FFmpeg 路径配置（可选）
# FFmpeg path configuration (optional)
# FFMPEG_PATH=/usr/local/bin/ffmpeg
# FFMPEG_PATH=/opt/homebrew/bin/ffmpeg
# FFMPEG_PATH="C:\Users\Administrator\AppData\Roaming\bilibili\ffmpeg\ffmpeg.exe"

# Session 配置，可与 express-session + session-file-store 项目共用一个登录信息
SESSION_CACHE_PATH=sessionsCache
SESSION_SECRET=NDUyY2E0MTg0NmYyOTViNzM1M2VhMmUwODAyYjcxNjU
SESSION_COOKIE_NAME=rpi_sid
# SESSION_COOKIE_DOMAIN=.example.com
